md-tabs(md-dynamic-height, md-border-bottom)
	//- md-tab(label="Users", 
	//-     md-on-select="tabSelect()")
	//-     mdcontent.md-padding

	md-tab(label="All Chores")
		mdcontent.md-padding
			md-card(ng-repeat="chore in chores track by chore._id")
				md-card-content
					h3 {{chore.name}}
					em {{chore.notes}}
					md-contact-chips(
						ng-model="chore.assignees",
						readonly="true", ng-disabled="true",
						md-contact-name="name",
						md-contact-image="avatar",
						md-contact-email="email")
						md-chip-template
							.md-contact-avatar
								img(ng-src='{{$chip[$mdContactChipsCtrl.contactImage]}}', alt='{{$chip[$mdContactChipsCtrl.contactName]}}')
							.md-contact-name
								{{$chip[$mdContactChipsCtrl.contactName]}}
																								
					div(layout="row" layout-align="space-between center")
						.md-actions(layout="row" layout-align="start center")
							md-button.md-primary assignees
						.md-actions(layout="row" layout-align="end center")
							md-button.md-accent Done
							md-button.md-warn Snooze
