md-tabs(md-dynamic-height, md-border-bottom)
	//- md-tab(label="Users", 
	//-     md-on-select="tabSelect()")
	//-     mdcontent.md-padding

	md-tab(label="Chores")
		mdcontent.md-padding(ng-controller="ChoreCtrl")
			//- div(layout="row")
			//- 	md-input-container(ng-repeat-start="sort in sortBy track by $index" ng-if="$first")
			//- 		label First By
			//- 		md-select(ng-model="sortOptions()")
			//- 			md-option(ng-repeat="option in sortOptions() track by $index" value="{{option.value}}")
			//- 				|{{option.friendly}}
			//- 	md-input-container(ng-repeat-end ng-if="!$first")
			//- 		label Then By
			//- 		md-select(ng-model="sortOptions()")
			//- 			md-option(ng-repeat="option in sortOptions() track by $index" value="{{option.value}}")
			//- 				|{{option.friendly}}
			md-card.md-whiteframe-3dp(ng-repeat="chore in chores track by $index", ng-disabled="chore.done")
				md-card-content
					h3 {{chore.name}}
					em {{chore.notes}}
				md-card-footer
					md-contact-chips(
						ng-model="chore.assignees",
						readonly="true", ng-disabled="true",
						md-contact-name="name",
						md-contact-image="avatar",
						md-contact-email="email")
						md-chip-template
							.md-contact-avatar
								img(ng-src='{{$chip[$mdContactChipsCtrl.contactImage]}}', alt='{{$chip[$mdContactChipsCtrl.contactName]}}')
							.md-contact-name
								|{{$chip[$mdContactChipsCtrl.contactName]}}
					.md-actions(layout="row", ng-if="!chore.done")
						md-button.md-primary(ng-click="editAssignees()") Assignees
						span(flex)
						md-button.md-primary.md-raised(ng-click="choreDone()") Done
						md-button.md-accent.md-raised(ng-click="choreSnooze()") Snooze
					.md-actions(layout="row" layout-align="end center",ng-if="chore.done", ng-disabled="false")
						md-button.md-primary(ng-click="editAssignees()") Assignees
						span(flex)
						md-button.md-primary.md-raised(ng-click="choreWake()") Wake
							
